# Ignore large media files
output/video.mp4
output/audio.mp3
output/video.f137.mp4
output/video.f140.m4a

# Python local environments and system files
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
